:root {
  --main-light-color: #ffffff;
  --main-dark-color: #000000;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirdy-text-color: rgba(255, 255, 255, 0.6);
  --shadow-btn-color: #188ce8;
  --line-color: #ececec;
  --main-border-color: #eeeeee;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --main-icon-color: #afb1b8;
  --main-icon-bg-color: rgba(255, 255, 255, 0.1);
  --box-bg-color: rgba(47, 48, 58, 0.8);
  --main-action-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --btn-close-border-color: rgba(0, 0, 0, 0.1);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --singup-border-color: rgba(255, 255, 255, 0.3);
  --filter-color: rgba(0, 0, 0, 0.15);
}

/* ==================== Глобальні стилі ====================*/

body {
  color: var(--primary-text-color);
  background-color: var(--main-light-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.picture {
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Стилі для прихованих заголовків */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ==================== Глобальні стилі ====================*/

/* ==================== Стилі шапки ====================*/

.section-header {
  border-bottom: 1px solid var(--line-color);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ==================== Логотип ====================*/

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-main {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header {
  color: var(--main-dark-color);
}
/* ==================== Логотип ====================*/
/* ==================== Навігація і контакти ====================*/

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover::after,
.site-nav-link:focus::after,
.site-nav-link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  min-width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav-link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  min-width: 100%;
  height: 4px;
  background: transparent;
  border-radius: 2px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link.current,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ==================== Навігація і контакти ====================*/
/* ==================== Контакти ==================== */

.contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ==================== Контакти ==================== */
/* ==================== Стилі шапки ====================*/

/* ==================== Стилі головної сторінки ====================*/
/* ==================== Вітання і замовлення ====================*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--primary-bg-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--main-light-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
}

.button-main {
  width: 216px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--shadow-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ==================== Вітання і замовлення ====================*/
/* ==================== Наші переваги ====================*/

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-item {
  width: 270px;
}

.benefits-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.benefits-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  color: var(--secondary-text-color);
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* ==================== Наші переваги ====================*/
/* ==================== Чим ми займаємося ====================*/

.actings {
  padding-top: 0;
}

.actings-list {
  display: flex;
  gap: 30px;
}

.actings-item {
  position: relative;

  width: 370px;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}

.actings-box {
  position: absolute;
  bottom: 0;

  padding: 27px;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: var(--box-bg-color);
}

.actings-image-title {
  color: var(--main-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ==================== Чим ми займаємося ====================*/
/* ==================== Наша кломанда ====================*/

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: 270px;
  text-align: center;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-data {
  padding: 30px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: calc(19 / 16);
}

.team-prof {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: calc(19 / 16);
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--main-icon-color);
  outline: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

.social-icon {
  fill: currentColor;
}

/* ==================== Наша кломанда ====================*/

/* ==================== Клієнти ====================*/

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--main-icon-color);
  border: 1px solid;
  border-radius: 4px;
  outline: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* ==================== Клієнти ====================*/
/* ==================== Стилі головної сторінки ====================*/

/* ==================== Підвал ====================*/

.main-footer {
  background-color: var(--primary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--main-light-color);
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
}

.location-address {
  color: var(--main-light-color);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: calc(24 / 14);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-address:hover,
.location-address:focus,
.location-link:hover,
.location-link:focus {
  color: var(--accent-color);
}

.location-link {
  color: var(--thirdy-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-item:not(:last-child) {
  margin-bottom: 9px;
}

.subtitle {
  margin-bottom: 20px;

  color: var(--main-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-box {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

.social-link-footer {
  color: var(--main-light-color);
  background-color: var(--main-icon-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

.signup-form {
  display: flex;
  gap: 10px;
}

.signup-button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.signup-icon {
  margin-left: 10px;
  fill: currentColor;
}

.signup-input {
  padding: 14px 16px;
  width: 358px;
  background-color: transparent;
  border: 1px solid var(--singup-border-color);
  filter: drop-shadow(0px 4px 4px var(--filter-color));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--thirdy-text-color);
}

.signup-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--thirdy-text-color);
}

/* ==================== Підвал ====================*/

/* ==================== Портфоліо ====================*/
/* ==================== Кноки ====================*/
.button-filter {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  letter-spacing: 0.03em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus,
.button-current {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

/* ==================== Кноки ====================*/
/* ==================== Картки ====================*/

.kind-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.kind-item {
  width: 370px;
}

.kind-link {
  display: flex;
  flex-direction: column;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kind-link:hover,
.kind-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.kind-box {
  position: relative;
  overflow: hidden;
}

.kind-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  color: var(--main-light-color);
  background-color: var(--main-action-color);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kind-link:hover .kind-description,
.kind-link:focus .kind-description {
  transform: translateX(0);
}

.kind-card {
  padding: 20px 24px;
  border: 1px solid var(--main-border-color);
  border-top: none;
}

.kind-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.kind-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/* ==================== Картки ====================*/
/* ==================== Портфоліо ====================*/

/* ==================== Бекддроп і модалки ============*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);

  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-light-color);
  border: 1px solid var(--btn-close-border-color);
  border-radius: 50%;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close-icon,
.button-close:focus .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.form-group-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.form-group {
  position: relative;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-person {
  fill: currentColor;
  position: absolute;
  pointer-events: none;

  bottom: 11px;
  left: 12px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-person {
  fill: var(--accent-color);
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

.form-label-check {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.form-input-check {
  appearance: none;
}

.checkbox-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
}

.form-input-check:checked + .checkbox-icon-box {
  background-color: var(--accent-color);
  border: none;
}

.form-link {
  color: var(--accent-color);
}

.form-button {
  display: flex;
  justify-content: center;
}

.button-modal {
  width: 200px;
  padding: 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--shadow-btn-color);
}

/* ==================== Бекддроп і модалки ============*/
